html{
    scroll-behavior:smooth;
    overflow-x: hidden;
}
body{
    z-index: 1; 
    color: #fff;
    background: #393939;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header img{
    width: 180px;
}
ul li{
    display:inline-block;
    position:relative;
    z-index:1;
    font-family: 'Montserrat', sans-serif;
    padding: 0 2%;
}
nav ul li a{
    text-decoration: none;
    color: #FFF;
}
ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
button a{
    text-decoration: none;
    color: #fff;
}
a{
    color: #56bffc;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration-line: underline;
}
h3{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    font-size: 80%;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
}
.elemento-uno{
    display: grid;
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    background: linear-gradient(223deg, #68D7E0 0%, #68D7E0 100%);
    filter: blur(170px);
    z-index: -1;
}
.elemento-dos{
    display: grid;
    position: absolute;
    margin: 50% 0 0 65%;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    background: linear-gradient(223deg, #FCB556 0%, #F95545 100%);
    filter: blur(150px);
    z-index: -1;
}
.fondo{
    display: grid;
    position: absolute;
    margin-right: 0;
    width: 100%;
    justify-content: space-between;
    justify-items: end;
}
.fondo img{
    display: grid;
    position: absolute;
    float: right;
    width: 420px;
    margin-right: 0;
    z-index: -1;
}
.elemento-tres{
    display: grid;
    position: absolute;
    margin: 150% 0 0 0;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    background: linear-gradient(223deg, #68D7E0 0%, #68D7E0 100%);
    filter: blur(170px);
    z-index: -1;
}
.elemento-cuatro{
    display: grid;
    position: absolute;
    margin: 250% 0 0 65%;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    background: linear-gradient(223deg, #FCB556 0%, #F95545 100%);
    filter: blur(150px);
    z-index: -1;
}
header{
    display: flex;
    height: 70px;
    padding: 0 2%;
    margin: 1% 8% 120px 8%;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    background: rgba(58, 58, 58, 0.30);
    box-shadow: 0px 4px 10px 0px rgba(30, 30, 30, 0.20);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
hero{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    height: auto;
}
hero h1{
    width: 50%;
}
hero div{
    display: flex;
    border-radius: 360px;
    background: #3A3A3A;    
    padding: 1% 4% 1% 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
hero .slide{
    width: 48%;
    height: 100%;
}
.bt-menu{
    display: none;
}
button{
    height: 45px;
    padding: 8px;
    background-color: #393939;
    color: white;
    padding: 0% 4%;
    border: solid 2px #68D7E0;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px rgba(104, 215, 224, 0.20);
    margin-top: 4%;
    display:inline;
    align-items: center;
}
.titulo{
    width: 64%;
    padding-top: 240px;
}
section{
    position: relative;
    text-align: center;
    padding: 0% 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.servicios-izq{
    text-align: left;
    display: flex;
    padding: 80px 0 0 0;
    gap: 5%;
}
.servicios-der{
    text-align: right;
    display: flex;
    padding: 80px 0 0 0;
    gap: 5%;
}

.servicios-der-mob{
    display: none;
}

.servicios-izq img{
    width: 50%;
    border-radius: 80px 0 0 80px;
}

.servicios-der img{
    width: 50%;
    border-radius: 0 80px 80px 0;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }  
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidehero {
    from {
        margin-left: -100%;
        width: 300%;
        opacity: 0%;
    }  
    to {
        margin-left: 0%;
        width: 100%;
        opacity: 100%;
    }
}

.clientes-izq{
    display: flex;
    padding: 80px 0 0 0;
    text-align: left;
    padding: 0 0 0 2%;
    gap: 40px;
}
.clientes-izq-mob{
    display: none;
}
.clientes-der{
    display: flex;
    padding: 80px 0 0 0;
    text-align: right;
    padding: 0 2% 0 0;
    gap: 40px;
}

.clientes-izq img{
    width: 50%;
    border-radius: 0 180px 0 180px;
}

.clientes-der img{
    width: 50%;
    border-radius: 180px 0 180px 0;
}
.clientes-der button img{
    border-radius: 0px;
}
.clientes-izq button img{
    border-radius: 0px;
}
h1{
    position:relative;
    width: 100%;
    z-index: 98;
    padding: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 250%;
    font-family: 'Montserrat', sans-serif;
}
.contacto{
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
form{
    width: 60%;
}
input{
    border-radius: 12px;
    border: 1px solid #FFF;
    background-color: #393939;
    padding: 2% 2%;
    width: 100%;
}
textarea{
    border-radius: 6px;
    border: 1px solid #FFF;
    background-color: #393939;
    padding: 2% 2%;
    width: 100%;
}
footer{
    border-radius: 32px;
    display: flex;
    padding: 120px 5% 120px 10%;
    margin:4%;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(237, 237, 237, 0.25);
    font-family: 'Montserrat', sans-serif;
    gap: 36px;
}
footer img{
    width: 180px;
}
footer div{
    display: flex;
    gap: 4%;
    width: 100%;
}
.rrss{
    display: grid;
}
.rrss img{
    width: 35px;
    padding: 5px;
}

.rrss div {
    align-items: center;
    display: flex;
}

.slide-mobile{
    display: none;
}

@media (max-width: 800px){
    .bt-menu{
        display:flex;
        float: right;
    }
    header{
        margin-bottom:40px;
    }
    header nav{
        display: none;
        position: absolute;
        background-color: #393939;
        width:60%;
        height:200%;
		margin:0;
        z-index: 999;
    }
    header nav ul{
        justify-content: unset;
        gap: 50%;
        padding: 25% 0 0 10%;
    }
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
    }
    header nav ul li a{
        font-weight: 800;
    }
    #servicios .titulo{
        width: 96%;
        display: grid;
        justify-items: center;
        gap: 8%;
    }
    #servicios{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    .servicios-izq{
        display: none;
    }
    .servicios-der{
        display: grid;
        width: 40%;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .servicios-der-mob{
        display: grid;
        width: 40%;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .servicios-der img{
        width: 100%;
        border-radius: 32px;
    }
    .servicios-izq img{
        width: 100%;
        border-radius: 32px;
    }
    .servicios-der-mob img{
        width: 100%;
        border-radius: 32px;
    }
}
  
@media (max-width: 550px) {
    header{
        width:80%;
        height:80%;
        margin-bottom:60px ;
        padding: 10% 0;
        background-color: rgba(58, 58, 58, 0.30);
    }
    .slide-mobile{
        display: flex;
        width: 80%;
    }
    .slide{
        display: none;
    }
    hero h1{
        width: 80%;
        font-size: 200%;
    }
    button{
        width: auto;
        height: auto;
        padding: 1% 4%;
    }
    .titulo{
        width: 96%;
        padding-top: 240px;
    }
    section{
        text-align: center;
        width: 96%;
        padding: 2%;
        gap: 80px;
    }
    .servicios-der{
        width: 96%;
        display: grid;
        text-align: center;
        padding: 80px 0 0 0;
        gap: 5%;
    }
    .servicios-izq{
        display: none;
    }
    .servicios-izq img{
        display: flex;
        gap: 5%;
        width: 96%;
        border-radius: 32px;
    }
    .servicios-der-mob{
        width: 96%;
        display: grid;
        text-align: center;
        padding: 80px 0 0 0;
        gap: 5%;
    }
    .servicios-der-mob img{
        display: flex;
        gap: 5%;
        width: 100%;
        border-radius: 32px;
    }
    .servicios-der img{
        display: flex;
        gap: 5%;
        width: 100%;
        border-radius: 32px;
    }
    .clientes-der{
        display: none;
    }
    .clientes-izq-mob img{
        width: 100%;
        border-radius: 0 180px 0 180px;
    }
    .clientes-izq-mob{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
    .clientes-izq{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }  
    .clientes-der img{
        width: 100%;
    }
    .clientes-izq img{
        width: 100%;
    }
    .clientes-der button{
        width: 75px;
        height: 55px;
    }
    .clientes-izq button{
        width: 75px;
        height: 55px;
    }
    .clientes-izq-mob button{
        width: 75px;
        height: 55px;
    }
    .clientes-izq-mob button img{
        border-radius: 0;
    }
    form{
        width: 90%;
    }
    footer{
        display: grid;
        justify-content: center;
        text-align: center;
        width:98%;
        height: 100%;
        padding: 10% 0;
        margin: 1%;
    }
    footer div{
        display: grid;
        justify-content: center;
        width: 100%;
        padding: 5% 0;
    }
    footer div{
        display: grid;
        justify-content: center;
        width: 100%;
    }

}